server:
  port: 8083
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL}/realms/rrs-waitque
      client:
        registration:
          customer-service:
            client-id: customer-service
            client-secret: ${CUSTOMER_SERVICE_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            provider: keycloak
        provider:
          keycloak:
            token-uri: ${KEYCLOAK_URL}/realms/rrs-waitque/protocol/openid-connect/token
  datasource:
    url: jdbc:postgresql://localhost:5432/waitque
    username: waitque_api
    password: ${WAITQUE_DB_PASSWORD:}
    jpa:
      hibernate:
        ddl-auto: validate # or validate / create-drop (dev only)
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          default_schema: customer
          format_sql: true
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      keepalive-time: 300000
  cloud:
    aws:
      sqs:
        queue-creation-strategy: never

microservices:
  company-service:
    base-url: http://company-service:8082

logging:
  level:
    org.springframework.security: INFO
    com.rrsgroup: DEBUG
    org.hibernate:
      SQL: DEBUG
      type:
        descriptor:
          sql:
            BasicBinder: TRACE
    orm.jdbc.bind: TRACE
    io.awspring.cloud.sqs: DEBUG

sns:
  topics:
    lead-created: ${SNS_LEAD_CREATED_TOPIC_ARN}
    message-sent: ${SNS_MESSAGE_SENT_TOPIC_ARN}
    customer-login: ${SNS_CUSTOMER_LOGIN_TOPIC_ARN}
    qr-created: ${SNS_QR_CREATED_TOPIC_ARN}
    qr-viewed: ${SNS_QR_VIEWED_TOPIC_ARN}
sqs:
  queue-names:
    qr-viewed: ${SQS_QR_VIEWED_QUEUE_NAME}

---
spring:
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev
microservices:
  company-service:
    base-url: http://localhost:8082
logging:
  level:
    org.hibernate:
      SQL: DEBUG
    type:
      descriptor:
        sql:
          BasicBinder: TRACE
---
spring:
  config:
    activate:
      on-profile: k8s

  datasource:
    url: jdbc:postgresql://postgres:5432/waitque
    username: waitque_api
    password: ${WAITQUE_DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: customer

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/rrs-waitque
      client:
        registration:
          company-service:
            client-id: customer-service
            client-secret: ${CUSTOMER_SERVICE_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            provider: keycloak
        provider:
          keycloak:
            token-uri: http://keycloak:8080/realms/rrs-waitque/protocol/openid-connect/token

microservices:
  company-service:
    base-url: http://company-service:8082
---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/waitque

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL}/realms/rrs-waitque
      client:
        provider:
          keycloak:
            token-uri: ${KEYCLOAK_URL}/realms/rrs-waitque/protocol/openid-connect/token
---
spring:
  config:
    activate:
      on-profile: ecs-staging

  datasource:
    url: jdbc:postgresql://${DB_HOST:}:5432/waitque?currentSchema=waitque

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ALB_URL}/realms/rrs-waitque
      client:
        provider:
          keycloak:
            token-uri: ${KEYCLOAK_ALB_URL}/realms/rrs-waitque/protocol/openid-connect/token

microservices:
  company-service:
    base-url: ${ALB_URL}/2

---
spring:
  config:
    activate:
      on-profile: ecs-prod

  datasource:
    url: jdbc:postgresql://${DB_HOST:}:5432/waitque?currentSchema=waitque

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ALB_URL}/realms/rrs-waitque
      client:
        provider:
          keycloak:
            token-uri: ${KEYCLOAK_ALB_URL}/realms/rrs-waitque/protocol/openid-connect/token

microservices:
  company-service:
    base-url: ${ALB_URL}/2