<!— email/new_user.html —>
<th:block th:replace="email/fragments/header :: emailHeader"></th:block>
<!-- Content Start -->
<p style="font-size:24px; color:#58c7bc;">
    Welcome to [[${companyName}]]'s WaitQue!
</p>

<p style="font-size:14px; color:#333;">Hi [[${firstName}]],</p>

<p style="font-size:14px; color:#555;">
    Your admin has created a new account for you. Below are your login details:
</p>

<table style="padding: 8px; background-color:#f4f4f4; border-radius: 4px;">
    <tr>
        <td style="font-weight: 600; text-align: right;">Username:</td>
        <td>[[${username}]]</td>
    </tr>
    <tr>
        <td style="font-weight: 600; text-align: right;">Temporary Password:</td>
        <td>[[${password}]]</td>
    </tr>
</table>

<p style="font-size:14px; color:#555;">
    Login to your account and change your password as soon as possible by clicking the button below and then clicking the "Lock Icon" in the top right corner:
</p>

<a href="app.waitque.com"
   style="
     background-color:#58c7bc;
     color:#ffffff;
     padding:14px 32px;
     text-decoration:none;
     border-radius:6px;
     font-size:16px;
     display:inline-block;
     margin-top:40px;
     margin-bottom:20px;">
    WaitQue Login
</a>

<p style="font-size:14px; color:#555;">
    Sincerely,<br/>
    The WaitQue Team
</p>
<!-- Content End -->
<th:block th:replace="email/fragments/footer :: emailFooter"></th:block>
