<!— email/reset_password_admin.html —>
<th:block th:replace="email/fragments/header :: emailHeader"></th:block>
<!-- Content Start -->
<p style="font-size:24px; color:#58c7bc;">
    You have reset [[${userFirstName}]] [[${userLastName}]]'s password!
</p>

<p style="font-size:14px; color:#333;">Hi [[${firstName}]],</p>

<p style="font-size:14px; color:#555;">
    You have successfully reset the password for [[${userFirstName}]] [[${userLastName}]] and their temporary credentials have been sent to them via email. Please ensure they login and change their password as soon as possible.
</p>

<p style="font-size:14px; color:#555;">
    Sincerely,<br/>
    The WaitQue Team
</p>
<!-- Content End -->
<th:block th:replace="email/fragments/footer :: emailFooter"></th:block>
