<!— email/user_enabled.html —>
<th:block th:replace="email/fragments/header :: emailHeader"></th:block>
<!-- Content Start -->
<p style="font-size:24px; color:#58c7bc;">
    Your user has been enabled!
</p>

<p style="font-size:14px; color:#333;">Hi [[${firstName}]],</p>

<p style="font-size:14px; color:#555;">
    Your admin has enabled your user account. You can now log in to WaitQue again using your previous credentials.
</p>

<p style="font-size:14px; color:#555;">
    Sincerely,<br/>
    The WaitQue Team
</p>
<!-- Content End -->
<th:block th:replace="email/fragments/footer :: emailFooter"></th:block>
