<!— email/user_disabled_admin.html —>
<th:block th:replace="email/fragments/header :: emailHeader"></th:block>
<!-- Content Start -->
<p style="font-size:24px; color:#58c7bc;">
    You have disabled [[${userFirstName}]] [[${userLastName}]]'s user
</p>

<p style="font-size:14px; color:#333;">Hi [[${firstName}]],</p>

<p style="font-size:14px; color:#555;">
    You have disabled [[${userFirstName}]] [[${userLastName}]]'s user, and they will no longer be able to log in to WaitQue.
</p>

<p style="font-size:14px; color:#555;">
    Sincerely,<br/>
    The WaitQue Team
</p>
<!-- Content End -->
<th:block th:replace="email/fragments/footer :: emailFooter"></th:block>
