<!— email/user_deleted_admin.html —>
<th:block th:replace="email/fragments/header :: emailHeader"></th:block>
<!-- Content Start -->
<p style="font-size:24px; color:#58c7bc;">
    User has been deleted
</p>

<p style="font-size:14px; color:#333;">Hi [[${firstName}]],</p>

<p style="font-size:14px; color:#555;">
    You have permanently deleted [[${userFirstName}]] [[${userLastName}]]'s account.
</p>

<p style="font-size:14px; color:#555;">
    Sincerely,<br/>
    The WaitQue Team
</p>
<!-- Content End -->
<th:block th:replace="email/fragments/footer :: emailFooter"></th:block>
