server:
  port: 8084
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/rrs-waitque
  datasource:
    url: jdbc:postgresql://localhost:5432/waitque
    username: waitque_api
    password: ${WAITQUE_DB_PASSWORD:}
    jpa:
      hibernate:
        ddl-auto: validate # or validate / create-drop (dev only)
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          default_schema: user
logging:
  level:
    org.springframework.security: INFO
---
spring:
  config:
    activate:
      on-profile: k8s

  datasource:
    url: jdbc:postgresql://postgres:5432/waitque
    username: waitque_api
    password: ${WAITQUE_DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: user

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/rrs-waitque

self:
  base-url: http://user-service:8084
---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/waitque

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL}/realms/rrs-waitque
---
spring:
  config:
    activate:
      on-profile: ecs-staging

  datasource:
    url: jdbc:postgresql://${DB_HOST:}:5432/waitque?currentSchema=waitque

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ALB_URL}/realms/rrs-waitque

self:
  base-url: http://user-service:8084

---
spring:
  config:
    activate:
      on-profile: ecs-prod

  datasource:
    url: jdbc:postgresql://${DB_HOST:}:5432/waitque?currentSchema=waitque

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ALB_URL}/realms/rrs-waitque

self:
  base-url: http://user-service:8084